<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ru.ugraweb.alfaoms" versionCode="000007" version="0.0.7">
    <name>ОМС-АльфаСтрахование</name>
    <description>
        Приложение компании «АльфаСтрахование-ОМС» позволит вам:
        - Всегда иметь при себе информацию о вашем медицинском полисе и о полисах ваших близких;
        - Получать актуальную информацию о ближайших офисах компании и о всех медицинских учреждениях в вашем населенном пункте;
        - Ознакомиться со справочной информацией учреждения;
        - Получать контактную информацию службы по защите прав застрахованных, в случае возникновения вопросов во время оказания медицинских услуг в системе ОМС.
    </description>
    <author email="ugraweb@gmail.com" href="http://ugraweb.ru">Ugraweb Team</author>
    <content src="index.html" />

    <!--
    Before using white list plugin, need install it:
    phonegap plugin add cordova-plugin-whitelist
    -->
    <plugin name="cordova-plugin-dialogs" spec="^1.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.1.1" />
    <plugin name="cordova-plugin-statusbar" spec="https://github.com/apache/cordova-plugin-statusbar" source="git" />
    <plugin name="cordova-plugin-whitelist" spec="^1.2.0" />

    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />              <!-- all: possible values handset, tablet, or universal -->
    <preference name="Fullscreen" value="true" />                   <!-- all: hides the status bar at the top of the screen -->
    <preference name="android-minSdkVersion" value="18" />          <!-- android: minimum Android SDK version ~ Android 4.0, 4.0.1, 4.0.2 ICE_CREAM_SANDWICH -->
    <preference name="android-installLocation" value="auto" />      <!-- android: where an app can be installed - defaults to internalOnly. auto or preferExternal allow the app to be installed on an SD card -->
    <preference name="target-device" value="universal" />           <!-- ios: possible values are handset, tablet, or universal -->
    <preference name="prerendered-icon" value="true" />             <!-- ios: this will cause iOS to not apply its gloss to the app's icon on the user's home screen -->
    <preference name="detect-data-types" value="true" />            <!-- ios: controls whether certain data types (such as phone numbers and dates) are automatically turned into links by the system  -->
    <preference name="exit-on-suspend" value="true" />              <!-- ios: if set to true, app will terminate when suspended, for example when home button is pressed -->
    <preference name="webviewbounce" value="false" />               <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="stay-in-webview" value="false" />             <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle" value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="show-splash-screen-spinner" value="true" />   <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen" value="true" />      <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="DisallowOverscroll" value="true" />
    <!-- ios: status bar -->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="default" />

    <icon src="res/icon/icon.png" />
    <platform name="android">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="res/icon/android/ldpi.png"    density="ldpi" />
        <icon src="res/icon/android/mdpi.png"    density="mdpi" />
        <icon src="res/icon/android/hdpi.png"    density="hdpi" />
        <icon src="res/icon/android/xhdpi.png"   density="xhdpi" />
        <icon src="res/icon/android/xxhdpi.png"  density="xxhdpi" />
        <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />
    </platform>

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
